<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BeatClock - Home</title>
  {% load static %}
  <link rel="icon" href="{% static 'timeSheetApp/images/Fevicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'timeSheetApp/css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'timeSheetApp/images/icons/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/vendors/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/vendors/animate/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/vendors/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/vendors/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'timeSheetApp/css/main.css' %}">
</head>
<body>


<!--Modal: modalPush-->
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- <a class="navbar-brand logo_h" href=#><img src="{% static 'timeSheetApp/images/logo.png' %}" alt=""></a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item focus"><a class="nav-link" href="/">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href=#>Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <main class="side-main">
    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static 'timeSheetApp/images/banner/contact-banner.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Have a Queryy!?</h1>
              <p>Just Drop us a Line, We are here to Help You! <br>:)</p>           
              
              <input id="Name" name="Name" placeholder="  Name" maxlength="255" type="text" style="width: 450px;">
              <br><br>
              <input id="Email" name="email" placeholder="  Email" maxlength="255" type="email" style="width: 450px;">
              <br><br>
              <input id="Comment" name="comment" placeholder="  Comment" maxlength="255" type="text" style="width: 450px;">
              <br><br>
              <a href="" class="button btn-bg" data-toggle="modal" data-target="#modalLRForm">SUBMIT</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->

    <!--================ Feature section start =================-->      
    
    <!--================ Feature section end =================-->      
   
  </main>


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container">
      <p style="align:'center'; font-size:18px; color:white" ; >Don't Worry!   Your Data is safe with us!  :) </p>
      <div class="footer-bottom row align-items-center text-center text-lg-left">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved   |   Made with ❤️ in India !
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-dribbble"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

  <script src="{% static 'timeSheetApp/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/js/mail-script.js' %}"></script>
  <script src="{% static 'timeSheetApp/js/main.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/select2/select2.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/vendors/tilt/tilt.jquery.min.js' %}"></script>
  <script src="{% static 'timeSheetApp/js/mainlog.js' %}"></script>
  <script >
    $('.js-tilt').tilt({
      scale: 1.1
    })
  </script>
  

</body>
</html>